.news__side {
  flex: 1;
  .news__item {
    margin-bottom: 20px;
    display: flex;
    gap: 30px 20px;
    .news__image {
      flex: 1;
      img {
        border-radius: 10px;
        object-fit: cover;
        height: 100%;
      }
    }
    .news__content {
      flex-basis: 60%;
    }
    @media screen and (max-width: 767.98px) {
      gap: 10px;
    }
  }
}
