.header {
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  transition: all 0.3s linear;
  &__top {
    display: flex;
    justify-content: space-between;
    gap: 0 50px;
  }
  &__action {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: all 0.3s linear;
    gap: 20px 0;
    @media screen and (max-width: 1023.98px) {
      width: 300px;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 30;
      background-color: #fff;
      flex-direction: column;
      justify-content: unset;
      align-items: flex-start !important;
      padding: 60px 30px;
      transform: translateX(100%);
    }
    &.is-show {
      transform: translateX(0);
    }
  }
  &__auth {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 1023.98px) {
      flex-direction: column;
    }
  }
  .navbar {
    display: flex;
    gap: 10px 30px;
    &__link {
      color: #fff;
      font-size: 1.8rem;
      font-weight: 600;
      text-shadow: 0 2px 4px rgba(0, 0, 0);
      transition: all 0.3s linear;
      @media screen and (max-width: 1023.98px) {
        font-size: 2.2rem;
      }
    }
    &__close {
      position: fixed;
      top: 30px;
      right: 30px;
      font-size: 4rem;
      display: none;
    }
    &__open {
      color: #fff;
      font-size: 4rem;
      display: none;
    }
    @media screen and (max-width: 1023.98px) {
      flex-direction: column;
      &__link {
        color: #000;
        text-shadow: unset;
      }
      &__close,
      &__open {
        display: block;
      }
    }
  }
  // overplay xuất hiện khi nhấn icon open menu -> click vào sẽ đóng menu lại
  &__overplay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  // custom css for header fixed white (when scroll down)
  &--white {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .header__action {
      align-items: center;
    }
    .navbar {
      &__link {
        color: #000;
        text-shadow: unset;
      }
      &__open {
        color: #000;
      }
    }
  }
}
