.admin-layout {
  padding: 20px;
  min-height: 100vh;
  display: flex;
}
.admin-layout-main {
  padding: 20px;
  margin: 0 20px;
  background-color: yellow;
  border-radius: 10px;
  flex: 1;
}
.admin-layout-container {
  margin-top: 20px;
}
