@use "./helpers/variables" as *;
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 15px;
}
.main-layout {
  min-height: calc(100vh);
}
.swal2-popup.swal2-modal {
  font-size: 16px;
}

.ant-tabs-ink-bar {
  background-color: $primary-color;
  display: none;
}
