$primary-color: #ff0000;
$primary-font: "Poppins", sans-serif;
$container: 1370px;

$redff8: #ff8282;
$redffe: #ffe2e2;

$grayea: #eaeaea;
$gray61: #616173;
$gray80: #808080;
$grayf9: #f9f8ff;
$grayed: #edf1f5;
