// RESPONSIVE
$mobile-width: 767.98px;
$tablet-width: 1023.98px;
@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin absoluteCenter($direction: "left", $position: absolute) {
  position: $position;
  @if $direction == "left" {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $direction == "top" {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $direction == "both" {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
// Set width and height
@mixin size($width: 100px, $height: $width) {
  width: $width;
  height: $height;
}
// Set position
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null, $z-index: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}
// flexbox
@mixin flexbox($align-items: null, $justify-content: null, $flex-direction: null) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}
// text clamp
@mixin textClamp($row: 1, $size: 100%) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
  white-space: normal;
}
// basic text
@mixin text($color: null, $font-size: null, $font-weight: null) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}
