$primary-color: #e62e80;
$primary-font: "Poppins", sans-serif;
$width-container: 1470px;
$black: #000;
$white: #fff;
$dark-color: #0f172a;
$redff8: #ff8282;
$redffe: #ffe2e2;
$grayea: #eaeaea;
$gray61: #616173;
$gray80: #808080;
$grayf9: #f9f8ff;
$grayed: #edf1f5;
$bg-skeleton: #656871;
