.edit-film {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  &-group {
    width: 45%;
    margin-bottom: 20px;
    textarea {
      flex: 1;
    }
  }
  &-label {
    display: block;
    margin-bottom: 10px;
  }
  &-input {
    // flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: none;
    width: 100%;
  }
  &-thumbnail {
    margin-top: 10px;
    border-radius: 8px;
    width: 140px;
    height: 190px;
    object-fit: cover;
  }
}
