.seat-map {
  display: flex;
  gap: 60px;
  padding-top: 20px;
  &-seats {
    width: 55%;
  }
  &-movie {
    h3 {
      padding-bottom: 20px;
    }
  }
  .label {
    font-weight: 600;
    font-size: 1.8rem;
    display: inline-block;
    margin-top: 8px;
    margin-right: 5px;
  }
}
