.detail-showtime {
  .ant-tabs-top {
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0 2px 8px 0 rgb(20 16 11 / 7%);
    padding: 10px 5px 20px;
    border-radius: 10px;
  }
  .ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-list {
    overflow-x: auto;
    background: #fff;
    border-radius: 10px;
    padding: 4px;
    &::-webkit-scrollbar {
      height: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      border-radius: 10px;
    }
    .ant-tabs-tab {
      margin: 0;
      padding: 5px 20px;
      border-radius: 10px;
      font-weight: 500;
      text-align: center;
      // transition: all 0.25s linear;
    }
    .ant-tabs-tab.ant-tabs-tab-active {
      background: #3d6ef7;
      p {
        color: #fff;
      }
      border-radius: 10px;
      text-shadow: unset;
    }
    .ant-tabs-ink-bar {
      display: none;
    }
  }
}
.detail-showtime-mobile {
  .ant-tabs > .ant-tabs-nav {
    margin: 0;
  }
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
    padding-left: 20px;
  }
}
.showtime-mobile-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.detail-showtime-mobile .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  align-items: center;
}
