@use "../../assets/scss/helpers/index.scss" as *;
.movie-management {
  overflow-y: auto;
  &-desc {
    @include textClamp(5);
  }
  &-thumb {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
  }
}
