@use "assets/scss/helpers/index.scss" as *;
.block-chair {
  &-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 10px;
    padding: 30px 0;
    @include mobile {
      grid-template-columns: repeat(10, 1fr);
      grid-gap: 4px;
      .block-chair-chair {
        border-radius: 4px;
      }
    }
  }
  &-square {
    @include size(40px);
    background-color: #d1d1d1;
    border-radius: 6px;
    cursor: pointer;
  }
  &-chair {
    @extend .block-chair-square;
    height: unset;
    width: unset;
    border: none;
    outline: none;
    overflow: hidden;
    aspect-ratio: 1/1;
    @include flexbox(center, center);
  }
  &-chair--vip {
    background-color: #ffd124;
  }
  &-chair--selecting {
    background-color: #2fdd92;
  }
  &-chair--selected {
    background-color: red;
    cursor: not-allowed;
  }
  &-chair--yourchoice {
    background-color: #bfbfbf;
  }
  &-yourchoice {
    border: 2px solid #bfbfbf;
    border-radius: 8px;
  }
  // Phần thông tin ghế mẫu
  &-info {
    @include flexbox($justify-content: center);
    gap: 20px;
  }
  &-box {
    @include flexbox(center, center, column);
    text-align: center;
  }
  &-square--vip {
    @extend .block-chair-chair--vip;
  }
  &-square--selecting {
    @extend .block-chair-chair--selecting;
  }
  &-square--selected {
    @extend .block-chair-chair--selected;
  }
}
