@use "../../assets/scss/helpers/index.scss" as *;
.movie-detail {
  //phần background banner mờ
  &-top {
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(10px);
    @include tablet {
      height: 30vh;
    }
  }
  //phần thông tin phim
  &-main {
    display: flex;
    gap: 20px;
    @include tablet {
      display: unset;
    }
  }
  &-left {
    width: 65%;
    @include tablet {
      width: 100%;
    }
  }
  &-info {
    padding: 60px 0 20px;
    display: flex;
    gap: 0 40px;
    @media screen and (max-width: 767.98px) {
      flex-direction: column;
    }
    .movie-card-thumb {
      width: 215px;
      transform: translateY(-130px);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
      @include mobile {
        margin-bottom: -90px;
      }
    }
  }
  &-detail {
    font-size: 1.8rem;
    line-height: 2;
    flex: 1;
    .label {
      font-weight: 600;
      margin-right: 10px;
    }
  }
  &-title {
    color: #ff0000;
    font-weight: 500;
    font-size: 2rem;
  }
  &-desc {
    margin-top: 10px;
  }
  &-right {
    width: 35%;
    padding-top: 60px;
    @media screen and (max-width: 1023.98px) {
      display: none;
    }
  }
}
