.movie-card {
  margin: 0 10px 20px;
  &-info {
    & > div {
      @include flexbox($justify-content: space-between);
      padding: 5px 0 0;
    }
  }
  &-title {
    margin-top: 10px;
    font-size: 1.8rem;
    cursor: pointer;
    height: 5.7rem;
    @include textClamp(2);
    @include mobile {
      height: unset;
    }
  }
  &-rate {
    @include flexbox(center);
    gap: 0 8px;
    ion-icon {
      font-size: 1.6rem;
      color: #ffd93d;
    }
  }
}
