@use "../../../../assets/scss/helpers/index.scss" as *;
.listmovie {
  &-container {
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px 25px;
    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .btn.btn--primary {
    margin: 20px auto;
    padding: 10px 40px;
  }

  // custom for tab antd
  .ant-tabs-content-holder {
    margin: 0 auto;
  }
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
    justify-content: center;
    margin: 20px 0;
  }
  .ant-tabs-tab {
    font-size: 2rem;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
  .ant-tabs-tab:hover {
    color: $primary-color;
  }
  .ant-tabs-ink-bar {
    background-color: $primary-color;
  }
  @include mobile {
    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
      justify-content: unset;
      overflow: scroll;
      // padding: 0 30px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
