@import "../helpers/index.scss";
.modal {
  position: relative;
  &-heading {
    text-align: center;
    margin-bottom: 10px;
  }
  &-overplay {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    @include position(fixed, 0, 0, 0, 0, 40);
  }
  &-main {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    @include position(fixed, 50%, 50%, $z-index: 100);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translate(50%, -50%);
    // min-width: 400px;
    width: 90%;
    max-width: 540px;
  }
  &-movie {
    display: flex;
    gap: 10px;
  }
  &-thumb {
    margin-top: 5px;
    img {
      width: 150px;
      border-radius: 15px;
    }
    @include mobile {
      display: none;
    }
  }
  &-barcode {
    width: 120px;
    text-align: center;
    color: $gray61;
    @include mobile {
      display: none;
    }
  }
  &-title {
    color: $primary-color;
  }
  .text-money {
    font-weight: 500;
    font-size: 2rem;
  }
  &-user {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    .success {
      font-weight: 500;
      color: #28a745;
    }
  }
  .label {
    font-weight: 600;
    margin: 3px 0;
    display: inline-block;
  }
  &-action {
    margin-top: 20px;
    @include flexbox(center, space-between);
  }
}
