@import "../helpers/index";
.movie-card {
  // movie-card-thumb là khối bọc image và overplay
  &-thumb {
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    background-color: #ebebeb;
    max-height: 328px;
    &:hover {
      .movie-card-image {
        transform: scale(1.06);
      }
      .movie-card-overplay {
        display: flex;
        height: 200%;
      }
      .movie-card-play {
        transform: translate(-50%, -50%);
      }
    }
    &::after {
      content: "";
      background: rgba(0, 0, 0, 0.05);
      position: absolute;
      inset: 0;
    }
  }
  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.25s linear;
  }
  &-score {
    color: #000;
    @include position(absolute, $bottom: 20px, $right: 20px);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    font-weight: 600;
    padding: 2px 20px;
    border-radius: 20px;
  }
  &-play {
    width: 100%;
    height: 100%;
    @include flexbox(center, center);
    @include absoluteCenter("both");
    transform: translate(-110%, -110%);
    z-index: 100;
    transition: all 0.7s ease-in-out;
    ion-icon {
      color: #fff;
      font-size: 6rem;
      cursor: pointer;
    }
  }
  &-overplay {
    background: rgba(0, 0, 0, 0.6);
    @include position(absolute, $top: 50%, $left: 50%, $z-index: 10);
    width: 200%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all 0.7s ease-in-out;
  }
}
