@import "../helpers/index";
.single-movie {
  // single-movie-thumb là khối bọc image và overplay
  &-thumb {
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    max-height: 328px;
    &:hover {
      .single-movie-image {
        transform: scale(1.06);
      }
      .single-movie-overplay {
        display: flex;
      }
    }
    &::after {
      content: "";
      background: rgba(0, 0, 0, 0.05);
      position: absolute;
      inset: 0;
    }
  }
  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.25s linear;
  }
  &-score {
    display: block;
    @include position(absolute, $bottom: 20px, $right: 20px);
    color: #000;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    font-weight: 600;
    padding: 2px 20px;
    border-radius: 20px;
  }
  &-overplay {
    background: rgba(0, 0, 0, 0.6);
    @include position(absolute, 0, 0, 0, 0, 10);
    @include flexbox(center, center);
    display: none;
    transition: all 0.25s linear;
    ion-icon {
      color: #fff;
      font-size: 6rem;
      cursor: pointer;
    }
  }
}
