.filter-select {
  // width: 240px;
  display: block;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 2px 8px 0 rgb(20 16 11 / 7%);
  position: relative;
  cursor: pointer;
}

.filter-selected-option {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-size: 14px;
  }
}

.filter-options {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  max-height: 249px;
  overflow-y: scroll;
  padding: 0 8px 8px 8px;
  border-radius: 6px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 2px 8px 0 rgb(20 16 11 / 7%);
  z-index: 100;
  background: #fff;
  li {
    height: 32px;
    font-size: 16px;
    list-style: none;
    line-height: 36px;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s linear;

    // use 1 lines
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &:hover {
      background: rgba(10, 39, 206, 0.082);
    }
    &.active-option {
      background: rgba(10, 39, 206, 0.082);
    }
  }
}
