.addComment {
  &-textarea {
    width: 100%;
    padding: 10px;
    resize: none;
    min-height: 100px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #1c093c;
  }
  &-btn {
    margin-left: auto;
    margin-top: 10px;
  }
}
