@use "assets/scss/abstracts/global.scss" as *;
.cinema-list-logo {
  width: 40px;
  height: 40px;
}
.cinema-manage-heading {
  margin-bottom: 10px;
}
.cinema-group-thumb {
  width: 30px;
  height: 30px;
  border-radius: 100rem;
}
.cinema-manage {
  &-address {
    width: 350px;
    @include textClamp(1);
  }
  .ant-table-tbody > tr > td > .ant-table-wrapper:only-child .ant-table,
  .ant-table-tbody
    > tr
    > td
    > .ant-table-expanded-row-fixed
    > .ant-table-wrapper:only-child
    .ant-table {
    margin: 0;
  }
  .ant-table-expanded-row.ant-table-expanded-row-level-1 th.ant-table-cell {
    background-color: #fb4f83;
  }
}
