.modalTrailer {
  position: fixed;
  inset: 0;
  z-index: 40;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @media screen and (max-width: 1023.98px) {
    align-items: flex-start;
  }
  @media screen and (max-width: 767.98px) {
    div {
      height: 320px !important;
    }
  }
}
