.ant-modal-root .ant-modal-wrap .ant-modal {
  width: 700px !important;
}
.user-info-edit-role {
  width: 100%;
  padding: 15px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 2px 8px 0 rgb(20 16 11 / 7%);
}
