.banner {
  --radius: 14px;
  height: 510px;
  border-radius: var(--radius);
  background-color: var(--bg-skeleton);
  margin-top: 30px;
  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (max-width: 1440px) {
    height: 40vw;
    .banner-image {
      height: 40vw;
    }
  }
  @media screen and (max-width: 750px) {
    height: 54vw;
    .banner-image {
      height: 54vw;
    }
  }
  // override style react-slick of HomeBanner
  :global {
    .slick-list {
      height: 100%;
      border-radius: var(--radius);
    }
    .slick-slide > div > div {
      outline: none;
      border: none;
    }
    .slick-prev,
    .slick-next {
      width: 40px;
      height: 40px;
      z-index: 10;
      img {
        width: 100%;
        height: 100%;
      }
      &::before {
        display: none;
      }
    }
    @media screen and (max-width: 767.98px) {
      .slick-prev {
        left: 0;
      }
      .slick-next {
        right: 0;
      }
    }
  }
}
