@use "assets/scss/abstracts/global.scss" as *;
.movie-manage {
  overflow-y: auto;
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-desc {
    @include textClamp(5);
  }
  &-thumb {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
  }
  button.btn {
    width: 100%;
    margin-bottom: 2px;
  }
  button.btn--primary {
    background-color: #fb4f83;
  }
}
