.new-detail {
  &-top {
    position: relative;
    height: 30vh;
    width: 100%;
    padding-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    @include flexbox(center, center);
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
    @include tablet {
      height: 30vh;
    }
  }
  &-heading {
    position: relative;
    h2 {
      color: #fff;
      font-size: 4rem;
      text-align: center;
    }
  }

  &-main {
    display: flex;
    gap: 30px;
    padding: 60px 0 20px;
  }
  &-left {
    flex-basis: 65%;
    @include tablet {
      flex: 1;
    }
  }
  &-right {
    flex-basis: 35%;
    @include tablet {
      display: none;
    }
  }
  &-post {
    img {
      margin: 20px auto;
      border-radius: 10px;
    }
  }
}
