.user-manage {
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-edit {
    font-size: 2.2rem;
    color: #ffc107;
  }
  &-delete {
    font-size: 2.2rem;
    color: #fb4f83;
  }
}
