@use "../../../assets/scss/helpers/index.scss" as *;
.footer {
  margin-top: 50px;
  padding: 50px 0 50px;
  background-color: #e3e3e3;
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &-item:last-child {
    h3 {
      font-size: 3rem;
      color: $primary-color;
    }
  }
  &-copyright {
    text-align: center;
    padding-top: 60px;
  }
}
