@use "../../../assets/scss/helpers/index.scss" as *;
.footer {
  margin-top: 50px;
  padding: 50px 0 30px;
  background-color: #eaeaea;
  .footer-top {
    gap: 20px 0;
    @include flexbox($justify-content: space-between);
    color: $primary-color;
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }
  .footer-list {
    display: flex;
    gap: 20px 40px;
    @include mobile {
      flex-direction: column;
    }
  }
  .footer-link {
    color: #000;
  }
  .footer-bottom {
    margin-top: 40px;
    text-align: center;
  }
}
