@use "../../../../assets/scss/helpers/index.scss" as *;
.news {
  &-container {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    @include tablet {
      flex-direction: column;
    }
  }
  //tin tức chính (bên trái)
  &-main {
    width: 50%;
    @include tablet {
      width: 100%;
    }
  }
  &-content {
    background-color: #fff;
    margin-left: 30px;
    padding: 30px;
    transform: translateY(-100px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px 0 15px 15px;
    @include tablet {
      margin-left: 0;
      transform: translateY(0);
    }
  }
  &-thumb {
    border-radius: 15px;
  }
}

// css chung cho main news và side news
.news-time {
  color: $gray80;
  font-size: 1.4rem;
  font-weight: 600;
  gap: 0 8px;
  @include flexbox(center);
  ion-icon {
    color: $primary-color;
    font-size: 2rem;
  }
  @include mobile {
    font-size: 1.2rem;
  }
}
.news-title,
.news-desc {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.news-title {
  margin: 5px 0;
  font-weight: 500;
  font-size: 1.6rem;
  @include mobile {
    -webkit-line-clamp: 1;
  }
}
