@use "../../../../assets/scss/helpers/index.scss" as *;
.filter {
  &-container {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    .btn {
      padding: 16px 30px;
    }
  }
  &-label {
    display: block;
    color: #767676;
    margin-bottom: 6px;
  }
}
