@use "assets/scss/helpers/index.scss" as *;
.filter {
  &-container {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.2fr 1.2fr 1fr;
    grid-gap: 20px;
    align-items: end;
    .btn {
      padding: 16px 0;
      width: 100%;
    }
  }
  &-label {
    display: block;
    color: #767676;
    margin-bottom: 6px;
  }
}
