.comment {
  margin-top: 20px;
  &-item {
    margin-top: 20px;
  }
  &-info {
    display: flex;
    gap: 20px;
  }
  &-avatar {
    width: 60px;
    height: 60px;
    border-radius: 8px;
  }
  &-desc {
    margin-top: 15px;
  }
}
.comment-load {
  margin-top: 10px;
}
.comment-load-bar {
  margin: 10px 0;
  width: 50px;
  height: 6px;
  border-radius: 2px;
  background-color: #4b9cdb;
  animation: loadingJ 3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
@keyframes loadingJ {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(80px, 0);
    background-color: #f5634a;
    width: 60px;
  }
}
