.sidenews {
  flex: 1;
  &-item {
    display: flex;
    gap: 20px 10px;
    margin-bottom: 20px;
    @media screen and (max-width: 767.98px) {
      gap: 10px;
    }
  }
  &-content {
    flex-basis: 60%;
  }
  &-image {
    flex: 1;
    img {
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}
