@use "assets/scss/abstracts/global.scss" as *;
.modal-trailer {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  @include flexbox(center, center);
  @include position(fixed, 0, 0, 0, 0, 200);
  @include tablet {
    align-items: flex-start;
  }
  @include mobile {
    div {
      height: 320px !important;
    }
  }
}
