@use "../../../../assets/scss/helpers/index.scss" as *;
.movie-card {
  // phần thông tin bên dưới thumb
  margin: 0 10px 20px;
  &-info {
    & > div {
      @include flexbox($justify-content: space-between);
      padding: 5px 0 0;
    }
  }
  &-title {
    margin-top: 10px;
    font-size: 1.8rem;
    cursor: pointer;
    height: 5.7rem;
    // check nếu title phim dài quá 2 dòng sẽ xuất hiện ...
    @include textClamp(2);
    @include mobile {
      height: unset;
    }
  }
  &-rate {
    @include flexbox(center);
    gap: 0 10px;
    ion-icon {
      font-size: 1.8rem;
      color: #ffd93d;
    }
  }
}
