.sidebar {
  max-width: 300px;
  background-color: yellow;
  min-height: 80vh;
  border-radius: 20px;
  &-logo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 700;
  }
  &-container {
    padding: 20px;
  }
  &-item {
    padding: 8px 0;
    display: flex;
    align-items: center;
    ion-icon {
      margin-right: 10px;
      font-size: 2rem;
    }
  }
}
