@use "assets/scss/helpers/index.scss" as *;
.sidebar {
  min-width: 280px;
  max-width: 300px;
  background-color: #efefef;
  min-height: 80vh;
  border-radius: 0 30px 30px 0;
  &-logo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 700;
  }
  &-heading {
    margin-bottom: 10px;
    font-size: 2.4rem;
    color: $primary-color;
    text-align: center;
  }
  &-container {
    padding: 20px;
  }
  &-btn.btn {
    margin: 10px 0;
    padding: 12px 0;
    width: 100%;
  }
  &-item {
    a {
      margin: 10px 0;
      padding: 14px;
      display: flex;
      align-items: center;
      border-radius: 8px;
      color: #000;
      &:hover {
        color: #000;
      }
      &.active {
        color: #fff;
        background-color: $primary-color;
      }
    }
    ion-icon {
      margin-right: 10px;
      font-size: 2rem;
    }
  }
}
