.newDetail {
  //phần background banner mờ
  .newDetail__top {
    position: relative;
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
    .container {
      position: relative;
    }
    h2 {
      color: #fff;
      font-size: 4rem;
      text-align: center;
    }
    @media screen and (max-width: 1023.98px) {
      height: 30vh;
    }
  }
  //phần thông tin phim
  .newDetail__main {
    display: flex;
    gap: 30px;
    padding: 60px 0 20px;
    .newDetail__left {
      flex-basis: 65%;
      @media screen and (max-width: 1023.98px) {
        flex: 1;
      }
      .newDetail__post {
        img {
          margin: 20px auto;
          border-radius: 10px;
        }
      }
    }
    .newDetail__right {
      flex-basis: 35%;
      @media screen and (max-width: 1023.98px) {
        display: none;
      }
    }
  }
}
