@use "../../../../assets/scss/helpers/index.scss" as *;
.movie-list {
  &-boxed {
    margin-top: 40px;
  }
  &-group {
    position: relative;
    @media screen and (max-width: $container) {
      margin: 0;
    }
  }
  &-heading {
    margin: 10px;
  }
  &-group-prev,
  &-group-next {
    cursor: pointer;
    position: absolute;
    z-index: 40;
    top: 35%;
    @include size(40px);
    @include flexbox(center, center);
    border-radius: 100rem;
    color: #fff;
    background-color: #3d6ef7;
  }
  &-group-prev {
    left: -10px;
  }
  &-group-next {
    right: -10px;
  }
  .slick-dots {
    .slick-active {
      button:before {
        color: #3d6ef7;
      }
    }
  }
  .slick-dots li button:before {
    font-size: 14px;
    color: #6a7280;
  }

  .skeleton-card {
    padding: 0 10px;
  }
}
