@use "assets/scss/helpers/index.scss" as *;
.main-manage {
  &-top {
    display: flex;
    gap: 0 20px;
  }
  &-chart {
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
  }
  &-sale {
    flex: 1;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
  }
  &-list {
    margin-top: 30px;
    display: flex;
    gap: 20px;
  }
  &-item {
    width: 130px;
  }
  &-thumb {
    border-radius: 10px;
    height: 180px;
  }
  &-title {
    margin-top: 10px;
  }
  &-type {
    color: #9f9e9e;
  }
  &-rating {
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #fff;
  }
  &-boxed {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }
  &-rate {
    color: yellow;
  }
  &-title {
    width: 220px;
    @include textClamp(2);
  }
  &-feature {
    padding: 6px 0;
    text-align: center;
    width: 130px;
    border-radius: 30px;
    border: 1px solid #dbdbdb;
    background-color: #fcfcfc;
    font-weight: 500;
    box-shadow: 0 2px 8px 0 rgb(20 16 11 / 7%);
  }
  &-progress {
    width: 200px;
    height: 8px;
    border-radius: 4px;
    background-color: #9f9e9e;
    overflow: hidden;
    &-color {
      width: 130px;
      height: 8px;
      background-color: #3d6ef7;
    }
  }
  &-thumb-square {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    object-fit: cover;
  }
}
