@use "../../assets/scss/helpers/index.scss" as *;
.movie-booking {
  //phần background banner mờ

  &-realtime {
    text-align: center;
  }
  &-time {
    color: $primary-color;
  }
  &-container {
    display: flex;
    gap: 40px;
    padding-top: 40px;
    @include tablet {
      flex-direction: column;
    }
  }
  &-left {
    flex: 1;
  }
  &-screen {
    padding: 2px 0;
    text-align: center;
    background-color: #d1d1d1;
    color: #000;
    border-radius: 50% 50% 0 0;
  }
  &-right {
    flex-basis: 30%;
    font-size: 1.8rem;
    .label {
      font-weight: 600;
      font-size: 1.8rem;
      margin-right: 5px;
    }
    h2 {
      margin-top: 10px;
    }
  }
  &-boxed {
    display: flex;
    gap: 20px;
  }
  &-thumb {
    width: 140px;
    overflow: hidden;
    border-radius: 10px;
  }
  &-price {
    color: $primary-color;
  }
}
