@use "../../assets/scss/helpers/index.scss" as *;
.movie-booking {
  //phần background banner mờ
  &-top {
    position: relative;
    height: 30vh;
    width: 100%;
    padding-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    @include flexbox(center, center);
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.15);
    }
    @include tablet {
      height: 30vh;
    }
  }
  &-heading {
    position: relative;
    h2 {
      color: #fff;
      font-size: 4rem;
      text-align: center;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
  }
  &-realtime {
    text-align: center;
  }
  &-time {
    color: $primary-color;
  }
  &-container {
    display: flex;
    gap: 40px;
    padding-top: 40px;
    @include tablet {
      flex-direction: column;
    }
  }
  &-left {
    flex: 1;
  }
  &-screen {
    padding: 2px 0;
    text-align: center;
    background-color: #d1d1d1;
    color: #000;
    border-radius: 50% 50% 0 0;
  }
  &-right {
    flex-basis: 30%;
    font-size: 1.8rem;
    .label {
      font-weight: 600;
      font-size: 1.8rem;
      margin-right: 5px;
    }
    h2 {
      margin-top: 10px;
    }
  }
  &-price {
    color: $primary-color;
  }
}
