@import "../../../../sass/variables";
.homePage {
  .carousel {
    background-color: #000;
    overflow: hidden;
    &__item {
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    // custom css for content in carousel banner
    &__main {
      background-color: rgba(0, 0, 0, 0.2);
      inset: 0;
      position: absolute;
      padding-top: 25vh;
      color: #fff;
      text-shadow: 0 2px 4px rgba(0, 0, 0);
      user-select: text;
      @media screen and (max-width: 1023.98px) {
        position: unset;
        padding: 40px 20px 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      @media screen and (max-width: 767.98px) {
        padding: 40px 20px 100px;
      }
    }
    &__heading {
      color: #fff;
      font-weight: 600;
      font-size: 5rem;
      letter-spacing: 1.5px;
      @media screen and (max-width: 767.98px) {
        font-size: 3rem;
      }
    }
    &__desc {
      max-width: 580px;
    }
    &__features {
      display: flex;
      gap: 0 20px;
      margin: 20px 0;
      span {
        font-size: 2rem;
        font-weight: 500;
      }
    }
    &__info {
      display: flex;
      gap: 0 20px;
      ion-icon {
        font-size: 1.8rem;
        color: #ffff00;
      }
      &-label {
        display: flex;
        align-items: center;
        gap: 0 10px;
        ion-icon {
          color: $redff0;
        }
      }
    }
    &__btn {
      padding: 10px 20px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      gap: 0 10px;
      border-radius: 40px;
      ion-icon {
        font-size: 2.2rem;
      }
    }
  }

  // CUSTOM STYLE SLICK-REACT
  .slick-slider {
    height: 100vh;
    @media screen and (max-width: 1023.98px) {
      height: unset;
      min-height: 80vh;
    }
  }
  .slick-dots {
    bottom: 50px;
    .slick-active {
      button:before {
        color: $redff0;
      }
    }
  }
  .slick-dots li button:before {
    font-size: 18px;
    color: $grayea;
  }
  .carousel__prev,
  .carousel__next {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 10;
    color: #fff;
    font-size: 5rem;
    cursor: pointer;
    @media screen and (max-width: 1023.98px) {
      bottom: 40%;
    }
    @media screen and (max-width: 767.98px) {
      bottom: 55px;
      font-size: 4rem;
    }
  }
  .carousel__prev {
    left: 30px;
  }
  .carousel__next {
    right: 30px;
  }
}
